body {
    background-color: #141519;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.card {
    width: 100%;
    max-width: 300px;
    height: 325px;
    background: rgb(23,30,40);
    background: linear-gradient(14deg, rgba(23,30,40,1) 0%, rgba(33,40,50,1) 90%); 
    padding: 1.7rem;
    border-radius: 20px;
}

.card-star {
    width: .9rem;
    height: .9rem;
    background-color: hsl(213, 19%, 18%);
    padding: 15px;
    border-radius: 50%;
}

.card-title {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.card-text {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.card-list-item {
    color: hsl(217, 12%, 63%);
    background-color: hsl(213, 19%, 18%);
    padding: 15px 20px;
    border-radius: 50%;
    font-size: .8rem;
    transition: .3s ease;
}
.selected {
    background-color: hsl(217, 12%, 63%);
    color: white;
}
.card-list-item:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
    cursor: pointer;
}

.card-btn {
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-size: .8rem;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    transition: .3s ease;
}

.card-btn:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.hidden {
    display: none;
}

.card-thank-you {
    margin: 1rem auto 0 auto;
    display: block;
}

.rating {
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    font-size: 15px;
    padding: .6rem;
    border-radius: 20px;
    margin: 1rem auto;
    opacity: .7;
    text-align: center;
    width: 52%;
}

.thank-you {
    text-align: center;
}

@media screen and (min-width: 1440px) {
    .card {
        max-width: 350px;
    }
    .rating {
        width: 44%;
    }
}